
    <!-- Banner -->
    <section id="banner">
        <h1>Welcome to Food Hacker</h1>
        <p>The only place you can find out where your food came from</p>
    </section>

    <!-- One -->
    <section id="one" class="wrapper">
        <div class="inner">
            <div class="flex flex-3">
                <article>
                    <header>
                        <h3>Why do we have to think about food</h3>
                    </header>
                    <p>According to the Food and Agriculture Organization of the United Nations, almost one-third of the food produced for human consumption is wasted every year! This waste is a tremendous missed opportunity for improving food security and simultaneously minimizing environmental impacts, such as air pollution, landscape degradation, water use, biodiversity loss, and deforestation.</p>
                </article>
                <article>
                    <header>
                        <h3>How can we help</h3>
                    </header>
                    <p>By helping you understand the employing life cycle analyses (LCAs) to evaluate all stages in the production and consumption of food, including raw material growth or production, processing, distribution, use, and disposal, can facilitate integration of environmental impact assessment in decision-making.</p>
                    <p>We also help you understand the comprehensive analysis of the processes that bring the food to your plate— from growing crops and managing livestock to transporting products into your city.  Use Earth observations to assess agricultural productivity and identify environmental risks to sustainability.</p>
                </article>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <header>
                <h2>Examples of what we do</h2>
                <p>Semper suscipit posuere apede</p>
            </header>
            <div class="flex flex-4">
                <div class="box person">
                    <div class="image square">
                        <img src="/assets/beat.jpg" alt="Beatroot">
                    </div>
                    <h3>Beatroot</h3>
                    <p>Cipdum dolor</p>
                </div>
                <div class="box person">
                    <div class="image square">
                        <img src="/assets/Covington.jpg" alt="corvington" />
                    </div>
                    <h3>Sweet Potato</h3>
                    <p>Vestibulum comm</p>
                </div>
                <div class="box person">
                    <div class="image square">
                        <img src="/assets/weeklyWheat.jpg" alt="wheat" />
                    </div>
                    <h3>Wheat</h3>
                    <p>Fusce pellentes</p>
                </div>
                <div class="box person">
                    <div class="image square">
                        <img src="/assets/Corncobs.jpg" alt="maize" />
                    </div>
                    <h3>Maize</h3>
                    <p>Praesent placer</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                </div>
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                    <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                </ul>
            </div>
        </div>
    </footer>